*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  min-height: 100%;
}

body {
  min-height: 100vh;
  background-image: url("./Img/891be2c0c1824c5a74cd665835b38471.png");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5em 1.25em;
  cursor: pointer;
  border-radius: 0.3rem;
  border: none;
  border: solid 2px red;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  max-width: 100%;
  margin: 1rem 0;
}

form input {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

/* Navbar */
.navbar {
  width: min(90%, 75rem);
  margin: 0 auto;
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

header {
  min-width: 100%;
  background-color: black;
  border: solid 2px red;
  text-shadow: 1px 0 red, -1px 0 red, 0 1px red, 0 -1px red,
  1px 1px red, -1px -1px red, 1px -1px red, -1px 1px red;
}

/* Container */
.container {
  width: min(90%, 45rem);
  margin: 2rem auto;
  min-height: 100%;
}

.container.large {
  width: min(90%, 72rem);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: auto;
  gap: 0.3rem;
}

.card {
  border-radius: 0.3rem;
  overflow: hidden;
  animation: fadeIn 0.3s ease-in-out forwards;
  position: relative;
  border: solid 10px;
}

.title {
  text-align: center;
  text-shadow: 1px 0 red, -1px 0 red, 0 1px red, 0 -1px red,
  1px 1px red, -1px -1px red, 1px -1px red, -1px 1px red;
}

.card img {
  min-width: 100%;
}

.card-name {
  opacity: 0;
  color: black;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  text-shadow: 2px 0 red, -2px 0 red, 0 2px red, 0 -2px red,
  1px 1px red, -1px -1px red, 1px -1px red, -1px 1px red;
}

.card:hover .card-name {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 1px 0 red, -1px 0 red, 0 1px red, 0 -1px red,
  1px 1px red, -1px -1px red, 1px -1px red, -1px 1px red;
  transition: all 0.2s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero__details-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  line-height: 1.6;
  background-color: black;
  color: white;
  border: solid 4px red;
  border-radius: 10px;
}

.hero__details-container img {
  flex: 1;
  max-width: 50%;
  max-height: 100%;
}

.hero__details {
  flex: 1;
  min-width: 35ch;
}

.hero__details li {
  list-style: disc;
  margin-left: 1.5rem;
}

.hero__details h4{
  text-shadow: 1px 0 red, -1px 0 red, 0 1px red, 0 -1px red,
  1px 1px red, -1px -1px red, 1px -1px red, -1px 1px red;
}
